---
// src/pages/blog/index.astro (or wherever this file lives)
import Layout from "../../layouts/Layout.astro";
import { getLangFromUrl } from "../../i18n/utils.ts";

interface PostFrontmatter {
  titleEn: string;
  titleBg: string;
  layout: string;
  dateEn: string;
  dateBg: string;
  descriptionEn: string;
  descriptionBg: string;
  coverImg: string;
}

const matches = import.meta.glob<{
  frontmatter: PostFrontmatter;
  url?: string;
}>("./*.mdx", { eager: true });
const allPosts = Object.values(matches);

const sortedPosts = allPosts.sort((postA, postB) => {
  // We'll use dateEn for sorting consistently, assuming it's always in a sortable format
  const dateA = new Date(postA.frontmatter.dateEn);
  const dateB = new Date(postB.frontmatter.dateEn);
  return dateB.getTime() - dateA.getTime();
});

const lang = getLangFromUrl(Astro.url) as "en" | "bg";
const titleKey =
  `title${lang.charAt(0).toUpperCase() + lang.slice(1)}` as keyof PostFrontmatter;
const dateKey =
  `date${lang.charAt(0).toUpperCase() + lang.slice(1)}` as keyof PostFrontmatter;
---

<Layout title="Blog Posts">
  <section class="max-w-5xl mx-auto p-4 sm:p-6 lg:p-8 z-60 prose prose-lg">
    <h1 class="text-center mt-15">Всички моменти</h1>
    <div class="filter">
      <input
        class="btn filter-reset"
        type="radio"
        name="metaframeworks"
        aria-label="Всички"
      />
      <input
        class="btn"
        type="radio"
        name="metaframeworks"
        aria-label="Сватби"
      />
      <input class="btn" type="radio" name="metaframeworks" aria-label="Концерти" />
      <input
        class="btn"
        type="radio"
        name="metaframeworks"
        aria-label="Кръщенета"
      />
      <input
        class="btn"
        type="radio"
        name="metaframeworks"
        aria-label="Фотосесии"
      />
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-10">
      {
        sortedPosts.map((post) => (
          <div class="block bg-white rounded-3xl shadow-lg p-5">
            <a
              href={post.url}
              class=" no-underline m-0"
              aria-label={`Read more about ${post.frontmatter[titleKey]}`}
            >
              <h2 class="text-gray-900 mb-3 !my-2">
                {post.frontmatter[titleKey]}
              </h2>
              <p class="italic text-gray-600 !my-0">
                {post.frontmatter[dateKey]}
              </p>
            </a>
            <img
              src={post.frontmatter.coverImg}
              alt={`Cover image for ${post.frontmatter[titleKey]}`}
              class="w-full h-86 object-cover object-top !my-5 rounded-xl"
              loading="lazy"
            />
          </div>
        ))
      }
    </div>
  </section>
</Layout>
