---
import { Image } from "astro:assets";
import Logo from "./Logo.astro";
import { ui } from "../i18n/ui";
import ScrollSvg from "./ScrollSvg.astro";
import BentoHero from "../components/BentoHero.astro";

const currentPath = Astro.url.pathname;
const lang = currentPath.split("/")[1] || "bg";

const imageModules = import.meta.glob(
  "../content/images/heroPage/*.{jpg,JPG,png,JPEG,jpeg}",
  {
    eager: true,
  }
);
const homepageHeroImgs = Object.values(imageModules).map(
  (module) => (module as { default: string }).default
);
---

<div id="homepageHero" class="flex flex-col items-center justify-start -z-50">
  <Logo />
  <div
    id="contentWrapper"
    class="flex flex-col items-center justify-start gap-20 w-full"
  >
    <section
      id="firstHero"
      class="flex flex-col items-center justify-start w-full gap-5 prose prose-lg max-w-none"
    >
      <h1 id="catchPhrase" class="flex opacity-0">
        {ui[lang]["hero.catchphrase"]}
      </h1>
      <ScrollSvg />
      <div id="first-img-section" class="flex grow-0 gap-2 h-[90vh] opacity-0">
        <div class="flex-1 h-full overflow-hidden rounded-3xl">
          <Image
            src={homepageHeroImgs[0]}
            alt="Image from a concert of Robi"
            class="imagePh object-cover object-top w-full h-full rounded-3xl"
            densities={[1.5, 2]}
            loading="lazy"
            decoding="async"
            quality="mid"
            format="webp"
          />
        </div>
        <div class="flex-1 h-full overflow-hidden rounded-3xl">
          <Image
            src={homepageHeroImgs[1]}
            alt="Image from a concert of Robi"
            class="imagePh object-cover object-top w-full h-full rounded-3xl"
            densities={[1.5, 2]}
            loading="lazy"
            decoding="async"
            quality="mid"
            format="webp"
          />
        </div>
      </div>
    </section>
    <section id="secondHero" class="w-full h-[90vh]">
      <BentoHero />
    </section>
    <section
      id="thirdHero"
      class="w-[80%] h-[60vh] grid grid-cols-2 grid-rows-2 gap-4"
    >
      <article class="prose prose-lg max-w-none text-pretty area-1/1">
        <h1>Every Frame - a story crafted with passion.</h1>
        <p>
          Photography is more than just pressing a shutter. It’s about seeing
          the unseen, feeling the emotions, and crafting a moment that lives
          forever. Every wedding is unique, and I take time to ensure each shot
          tells a story that’s authentically yours.
        </p>
      </article>
      <div class="col-start-1 row-start-2">smth else here</div>
      <div class="imgWrapper row-span-2 col-start-2 row-start-1">
        <Image
          src={homepageHeroImgs[1]}
          alt="Image from a concert of Robi"
          class="imagePh object-cover object-top w-full h-full rounded-3xl"
          densities={[1.5, 2]}
          loading="lazy"
          decoding="async"
          quality="mid"
          format="webp"
        />
      </div>
    </section>
    <section
      id="fourthHero"
      class="w-[80%] h-[60vh] grid grid-cols-2 grid-rows-1 gap-4"
    >
      <article
        class="prose prose-lg max-w-none text-pretty row-span-2 col-start-2 row-start-1"
      >
        <h1>Meet the Eye Behind the Lens.</h1>
        <p>
          I’m Mihaylo Dimo, a 30-year-old wedding photographer who has spent the
          past four years capturing love stories with passion and dedication. My
          approach is a mix of journalistic storytelling and carefully crafted,
          moody portraits. I thrive in the fast-paced, dynamic energy of wedding
          days, ensuring every moment—big or small—is immortalized with
          authenticity.
        </p>
        <p>link for more info?</p>
      </article>
      <div class="imgWrapper area-1/1">
        <Image
          src={homepageHeroImgs[3]}
          alt="img of me"
          class="imagePh object-cover object-top w-full h-full rounded-3xl"
          densities={[1.5, 2]}
          loading="lazy"
          decoding="async"
          quality="low"
          format="webp"
        />
      </div>
    </section>
    <section
      class="fifthHero flex flex-col items-center w-full gap-5 prose prose-l max-w-none"
    >
      <h1>Latest captured moments 👇</h1>
      <div class="wrapper flex flex-row justify-center gap-5">
        <article
          class="relative flex flex-col justify-between p-4 bg-slate-50 shadow-sm rounded-xl w-96"
        >
          <Image
            src={homepageHeroImgs[3]}
            alt="img of me"
            class="relative m-0 h-72 imagePh object-cover object-middle w-full rounded-xl"
            densities={[1.5, 2]}
            loading="lazy"
            decoding="async"
            quality="low"
            format="webp"
          />
          <h2>Website Review Check</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente,
            consequuntur laborum, amet consequatur accusamus praesentium est,
            blanditiis at
          </p>
          <p class="m-0 italic text-sm">12 Feb 2024</p>
        </article>
        <article
          class="relative flex flex-col justify-between p-4 bg-slate-50 shadow-sm rounded-xl w-96"
        >
          <Image
            src={homepageHeroImgs[3]}
            alt="img of me"
            class="relative m-0 h-72 imagePh object-cover object-middle w-full rounded-xl"
            densities={[1.5, 2]}
            loading="lazy"
            decoding="async"
            quality="low"
            format="webp"
          />
          <h2>Website Review Check</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente,
            consequuntur laborum, amet consequatur accusamus praesentium est,
            blanditiis at
          </p>
          <p class="m-0 italic text-sm">12 Feb 2024</p>
        </article>
        <article
          class="relative flex flex-col justify-between p-4 bg-slate-50 shadow-sm rounded-xl w-96"
        >
          <Image
            src={homepageHeroImgs[3]}
            alt="img of me"
            class="relative m-0 h-72 imagePh object-cover object-middle w-full rounded-xl"
            densities={[1.5, 2]}
            loading="lazy"
            decoding="async"
            quality="low"
            format="webp"
          />
          <h2>Website Review Check</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente,
            consequuntur laborum, amet consequatur accusamus praesentium est,
            blanditiis at
          </p>
          <p class="m-0 italic text-sm">12 Feb 2024</p>
        </article>
      </div>
    </section>
    <section
      id="sixthHero"
      class="w-96 flex flex-row items-start justify-center gap-5 prose prose-lg max-w-none mb-10"
    >
      <Image
        src={homepageHeroImgs[0]}
        alt="Image from a concert of Robi"
        class="imagePh object-cover object-top h-full rounded-3xl m-0"
        densities={[1.5, 2]}
        loading="lazy"
        decoding="async"
        quality="mid"
        format="webp"
      />
      <article class="flex flex-col items-start justify-between gap-5">
        <h1 class="m-0 text-7xl">Let’s create timeless memories together!</h1>
        <p class="m-0">
          Whether you're planning an intimate elopement or a grand celebration,
          let's chat about how we can capture your story together.
        </p>
        <a
          href="#"
          class="m-0 rounded-md no-underline bg-gray-900 px-5 py-3 font-bold text-white text-2xl shadow-xs hover:bg-white hover:text-gray-900 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white"
          >Book now</a
        >
      </article>
    </section>
  </div>
</div>

<script>
  import { gsap } from "gsap";
  import { Flip } from "gsap/Flip";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(Flip, ScrollTrigger);

  // function initParallax() {
  //   const parallaxWrapper = document.querySelector(".parallax-wrapper");

  //   gsap.to(parallaxWrapper, {
  //     y: "-30%",
  //     ease: "none",
  //     scrollTrigger: {
  //       trigger: "#secondHero",
  //       start: "top 30%",
  //       markers: true,
  //       scrub: 1,
  //     },
  //   });
  // }

  function init() {
    const logo = document.querySelector("#logo");
    const firstImgSection = document.querySelector("#first-img-section");
    const catchPhrase = document.querySelector("#catchPhrase");
    const scrollSvg = document.querySelector("#scrollSvg");
    const navDesktop = document.querySelector("#nav-desktop");
    const secondImgSection = document.querySelector("#second-img-section");
    const secondHero = document.querySelector("#secondHero");

    // Create a timeline for better control of animation sequence
    const tl = gsap.timeline();

    // Initial states
    gsap.set(firstImgSection, { opacity: 0 });
    gsap.set(catchPhrase, { opacity: 0 });
    gsap.set(navDesktop, { opacity: 0 });
    gsap.set(secondImgSection, { opacity: 0 });
    gsap.set(secondHero, { opacity: 0 });

    // Animation timeline
    tl.fromTo(logo, { opacity: 0 }, { opacity: 1, duration: 0.5 })
      .to(logo, {
        opacity: 1,
        duration: 0.5,
      })
      .to(logo, {
        opacity: 0,
        duration: 1,
        onComplete: () => {
          gsap.set(logo, { display: "none" });
        },
      })
      .to(navDesktop, {
        opacity: 1,
        duration: 0.5,
      })
      .to(catchPhrase, {
        opacity: 1,
        duration: 1,
      })
      .to(
        scrollSvg,
        {
          opacity: 1.2,
          ease: "power2.inOut",
        },
        "<+0.4"
      )
      .to(scrollSvg, {
        opacity: 0,
        duration: 0.6,
        y: 100,
        onUpdate: (self) => {
          gsap.to(firstImgSection, {
            opacity: 1 - self.progress,
          });
        },
        onComplete: () => {
          gsap.set(scrollSvg, { display: "none" });
        },
      })
      .to(
        firstImgSection,
        {
          opacity: 1,
          duration: 1,
          y: -150,
          ease: "power2.inOut",
        },
        "<-0.1"
      )
      .to(secondHero, {
        opacity: 1,
        y: -200,
        duration: 1,
      })
      .to(secondImgSection, {
        opacity: 1,
        duration: 1,
      });

    // Initialize parallax effect
    // initParallax();
  }

  // Run on initial load and after navigation
  document.addEventListener("astro:after-swap", init);
  init();
</script>
